<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadeesha.platform.classroomappui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sadeesha.platform.com.lab2.edujet.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.Announcements"
            android:configChanges="orientation|screenSize"
            android:label="Announcements" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.Lectures"
            android:configChanges="orientation|screenSize"
            android:label="Lectures" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.Events"
            android:configChanges="orientation|screenSize"
            android:label="Events" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.Courses"
            android:configChanges="orientation|screenSize"
            android:label="Courses" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.MyProfile"
            android:configChanges="orientation|screenSize"
            android:label="My Profile" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.SignupScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.LoginScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sadeesha.platform.com.lab2.edujet.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>